%h2 Services &amp; Cost

.clinic_services
  %table
    %thead
      %tr
        %th Code
        %th Description
        %th Enabled?
        %th Cost
    %tbody
      - @clinic.all_clinic_services.each do |cs|
        %tr
          %td= cs.service.code
          %td= cs.service.description
          %td= cs.enabled
          %td= cs.cost

