%h2 Services &amp; Cost

.clinic_services
  %table.GralTable
    %tbody
      %tr
        %th Code
        %th Description
        %th Enabled?
        %th Cost
      - @clinic.all_clinic_services.each do |cs|
        %tr
          %td= cs.service.code
          %td= cs.service.description
          %td
            = check_box_tag "service_ids[]", cs.service.id, cs.enabled
          %td= cs.cost

