= render partial: '/sites/tabs', locals: { active_tab: 'clinics' }

%h1 Clinics

.tablewrapp.w60
  = render partial: 'list'

%br
.actions
  = link_to 'Export CSV', site_clinics_path(@site, :format => 'csv'), :class => 'fexport'

