= render partial: '/sites/tabs', locals: { active_tab: 'clinics' }

%h1= @clinic.name

.left.box.w40
  = render partial: 'providers'
.right.box.w50
  = render partial: 'services'

.clinics-span

:javascript
  $(function() { onClinicsShow() })
