= render partial: '/sites/tabs', locals: { active_tab: 'clinics' }

= render partial: 'clinic_header', locals: { active_tab: 'providers' }

.box.tab.w60
  = render partial: 'providers'

%br
.actions
  = link_to 'Export CSV', site_clinic_path(@site, @clinic, :format => 'csv'), :class => 'fexport'

:javascript
  $(function() { onClinicsShow() })
