%br
%ul.reports-tabs.tabs.top
  %li.card_allocation
    = link_to "Card Allocation", reports_card_allocation_path
  %li.transactions
    = link_to "Transactions", reports_transactions_path

.tabsline

:javascript
  $('.reports-tabs').find('.#{params[:action]}').addClass('active');

