%br
%ul.reports-tabs.tabs.top
  %li.card_allocation
    = link_to "Card Allocation", reports_card_allocation_path
  %li.txns_per_site
    = link_to "Transactions per Site", reports_txns_per_site_path
  %li.txns_per_clinic
    = link_to "Transactions per Clinic", reports_txns_per_clinic_path

.tabsline

:javascript
  $('.reports-tabs').find('.#{params[:action]}').addClass('active');

