- if policy(Site).search?
  .search-box
    = form_tag search_sites_path, method: 'get' do
      = search_field_tag :q, '', :placeholder => 'Search for AGEP IDs or Card SN', :class => 'ux-search w30'

