.dialog#assign_dialog
  .box.grey.w20
    %span
      %a.fadd Assign card
    .ux-content
      = form_tag nil, :method => "post", :remote => true do
        .field.w20
          %label(for="assign_sn") Serial Number
          %input.w20.serial_number#assign_sn(name="serial_number" type="text" data-focus="true")
        .actions
          %button.grey(type="submit") Assign

