.dialog#start_dialog
  .box.grey.w20
    %span
      %a.fplay Start validity
    .ux-content
      = form_tag nil, :method => "post", :remote => true do
        .field.w20
          %label(for="validity") Card is valid from
          %p (mm/dd/yyyy format)
          %input.w20.ux-datepicker#validity(name="validity" type="text" data-focus="true" value="#{Time.now.to_s(:date)}" autocomplete="off")
        .actions
          %button.grey(type="submit") Set

