.dialog#start_dialog
  .box.grey.w20
    %span
      %a.fplay Start validity
    .ux-content
      = form_tag nil, :method => "post", :remote => true do
        .field.w20
          %label(for="validity") Card is valid from
          %p (#{Date::HUMAN_DISPLAY_FORMAT} format)
          %input.w20.ux-datepicker#validity(name="validity" type="text" data-focus="true" value="#{Date.today.to_human_param}" autocomplete="off")
        .actions
          %button.grey(type="submit") Set

