.clinics {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 4px 8px;
    &.current {
      background: #eee;
      border-radius: 4px;
    }
  }
}

.providers-list {
  min-height: 340px;

  .inline_new_form #provider_code {
    width: 40px;
    margin-left: -2px;
  }
}

td.cost {
  text-align: right;
}

span.service_type {
  font-size: 75%;
  color: #444444;
  background-color: #dddddd;
  border-radius: 2px;
  padding: 2px 4px;
  margin-left: 4px;
  position: relative;
  top: -2px;

  &.secondary {
    color: #666666;
    background-color: #f0f0f0;
  }
}

