.error_description {
  margin-bottom: 20px;
}

.GralTable {
  table-layout: fixed;

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.GralTable .emptyTable {
  text-align: center;
  color: #999999;
  padding-top: 100px;
  vertical-align: middle;
  font-style: italic;

  a {
    text-decoration: underline;
  }
}

.box h3 {
  margin-top: 0;
}

.box .actions {
  padding-bottom: 0;
}

.box.overview {
  display: inline-block;
  width: 220px;
  margin-right: 10px;

  .content {
    display: inline-block;
    width: 160px;
    vertical-align: middle;
  }
}

.box.overview.incomplete {
  .icon {
    background-position: 0 -50px;
  }
  .content {
    color: #ff6600;
  }
}

.ux-content .actions {
  padding-bottom: 0;
}

.tablewrapp {
  z-index: 100;
}

#footer {
  z-index: 0;
}

.dialog {
  position: absolute;
  display: none;
  z-index: 100;
}

.grey input.ux-datepicker {
  background-color: white;
}

.fineprint {
  color: #999999;
  font-size: 90%;
}

.BreadCrumb li {
  max-width: 200px;
  a {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

#container > h1 {
  max-width: 750px;
  text-overflow: ellipsis;
  overflow: hidden;
}

td.number {
  text-align: right;
}

