.error_description {
  margin-bottom: 20px;
}

.GralTable .emptyTable {
  text-align: center;
  color: #999999;
  padding-top: 100px;
  vertical-align: middle;
  font-style: italic;

  a {
    text-decoration: underline;
  }
}

.box h3 {
  margin-top: 0;
}

.box .actions {
  padding-bottom: 0;
}

.box.overview {
  display: inline-block;
  width: 220px;
  margin-right: 10px;

  .content {
    display: inline-block;
    width: 160px;
    vertical-align: middle;
  }
}

.box.overview.incomplete {
  .icon {
    background-position: 0 -50px;
  }
  .content {
    color: #ff6600;
  }
}

.ux-content .actions {
  padding-bottom: 0;
}

.dialog {
  position: absolute;
  display: none;
}

.grey input.ux-datepicker {
  background-color: white;
}


