// Place all the styles related to the management controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ux-content .actions {
  padding-bottom: 0;
}

table.patients {
  table-layout: fixed;
}

.dialog {
  position: absolute;
  display: none;
}

.grey input.ux-datepicker {
  background-color: white;
}

