a.cancel_action {
  cursor: pointer;
}

.actions .column {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.patients {
  .depleted + span {
    color: grey;
  }

  .expired + span, .inactive + span {
    color: #ff6800;
  }
}

