.tablewrapp.wide {
  overflow-x: auto;

  table.report-table {
    min-width: 960px;
    width: auto;
  }

  .service-name {
    max-width: 400px;
  }
}

.report-table {
  td {
    padding: 10px 8px;
  }

  td.number, th.number {
    text-align: right;
  }
  td.number {
    font-size: 110%;
  }

  td:first-child {
    text-align: left;
  }

  tr.totals td {
    font-weight: bold;
    background-color: #f8f8f8;
    font-size: 120%;
  }
  td.totals {
    font-weight: bold;
    background-color: #f8f8f8;
  }

  td.center, th.center {
    text-align: center;
  }

  .percentage {
    color: #888;
    font-size: 80%;
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    .percent_base {
      font-weight: normal !important;
    }
  }

  .group_by_clinic {
    cursor: pointer;
  }

  .site_name {
    font-size: 90%;
    color: #888;
  }
}

.report-grouping {
  padding: 15px 10px;
  background: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 50;
  position: relative;

  .report-grouping-option {
    display: inline-block;
    margin-right: 20px;

    input, select {
      background-color: white;
    }
  }
  .report-grouping-option.right {
    margin-right: 0;
    margin-left: 20px;
  }
}

.horizontalScrollbar {
  height: 20px;
}
.scrollbarContainer {
  overflow-x: auto;
}

