.ux-select2 {
  .select2-choices {
    border-radius: 5px;
    min-height: 0;
    .select2-search-choice {
      margin: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      .select2-search-choice-close {
        top: 1px;
      }
    }
    .select2-search-field .select2-input {
      padding: 0 2px;
    }
  }
}

.filter-container .ux-select2 {
  padding: 2px 0;
}

