.box .actions {
  padding-bottom: 0;
}

.cards-span {
  height: 440px
}

.unassigned_cards {
  width: 100%;
  height: 330px;
  overflow: auto;
  margin-bottom: 10px;
}

.unassigned_cards table {
  table-layout: fixed;
}

.box h3 {
  margin-top: 0;
}

.GralTable.sites {
  td:last-child {
    white-space: nowrap;
  }
}

.GralTable .emptyTable {
  text-align: center;
  color: #999999;
  padding-top: 100px;
  vertical-align: middle;
  font-style: italic;

  a {
    text-decoration: underline;
  }
}

