.cards-span {
  height: 440px
}

.unassigned_cards {
  width: 100%;
  height: 330px;
  overflow: auto;
  margin-bottom: 10px;
}

.unassigned_cards table {
  table-layout: fixed;
}

.GralTable.sites {
  td:last-child {
    white-space: nowrap;
  }
}

span.training {
  font-size: 75%;
  color: #999999;
}

