.statement {
  td {
    padding: 6px;
  }
  tr:nth-child(even) td {
    background-color: #f8f8f8;
  }
}

.statements-filter {
  col:first-child {
    width: 150px;
  }
  col:nth-child(2) {
    width: auto;
  }
  col:last-child {
    width: 125px;
  }
  label {
    display: inline-block;
  }
  td:nth-child(2) label {
    width: 160px;
  }
}

