// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.transactions {
  table-layout: fixed;

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  tr.training {
    td {
      color: #444444;
    }

    td:first-child:after {
      content: " *"
    }
  }
}

.fineprint {
  color: #999999;
  font-size: 90%;
}

