.values(style="width: 100%")
  .L
    %span= @site.patients.count
    %span AGEP IDs
  .R
    %span= @site.patients.without_card.count
    %span without card
  %br(clear="all")
  .M
    %span.Fill(style="width: #{assigned_patients_percent(@site)}%")

  %br
  .U
    %span
      #{@site.unassigned_cards.count} unassigned cards in site

